html {
  font-size: 8vw; }

body {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  background: black;
  font-family: "Times";
  color: #fff; }

ul {
  padding: 0;
  margin: -0.5em 0 0 3em;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  list-style-type: none; }
  ul li {
    margin: 0;
    width: 1em;
    height: 1em;
    display: inline-block; }

ul {
  -webkit-animation: scrolling 8s linear 0s 4 normal;
          animation: scrolling 8s linear 0s 4 normal;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }
  ul li {
    -webkit-animation: rotating-as 4s linear 0s infinite normal;
            animation: rotating-as 4s linear 0s infinite normal; }

ul:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
  ul:nth-child(1) li {
    -webkit-transform-origin: 0.025em 0.2em 1.0025em;
        -ms-transform-origin: 0.025em 0.2em 1.0025em;
            transform-origin: 0.025em 0.2em 1.0025em; }
    ul:nth-child(1) li span {
      -webkit-transform-origin: 1em 0.025em 1.0025em;
          -ms-transform-origin: 1em 0.025em 1.0025em;
              transform-origin: 1em 0.025em 1.0025em; }
    ul:nth-child(1) li:nth-child(1) {
      -webkit-animation-delay: 2000ms;
              animation-delay: 2000ms;
      -webkit-animation-iteration-count: 16;
              animation-iteration-count: 16; }
      ul:nth-child(1) li:nth-child(1) span {
        -webkit-animation-delay: 10000ms;
                animation-delay: 10000ms; }
    ul:nth-child(1) li:nth-child(2) {
      -webkit-animation-delay: 2400ms;
              animation-delay: 2400ms;
      -webkit-animation-iteration-count: 12;
              animation-iteration-count: 12; }
      ul:nth-child(1) li:nth-child(2) span {
        -webkit-animation-delay: 10400ms;
                animation-delay: 10400ms; }
    ul:nth-child(1) li:nth-child(3) {
      -webkit-animation-delay: 2800ms;
              animation-delay: 2800ms;
      -webkit-animation-iteration-count: 8;
              animation-iteration-count: 8; }
      ul:nth-child(1) li:nth-child(3) span {
        -webkit-animation-delay: 10800ms;
                animation-delay: 10800ms; }
    ul:nth-child(1) li:nth-child(4) {
      -webkit-animation-delay: 3200ms;
              animation-delay: 3200ms;
      -webkit-animation-iteration-count: 4;
              animation-iteration-count: 4; }
      ul:nth-child(1) li:nth-child(4) span {
        -webkit-animation-delay: 11200ms;
                animation-delay: 11200ms; }
    ul:nth-child(1) li:nth-child(5) {
      -webkit-animation-delay: 3600ms;
              animation-delay: 3600ms;
      -webkit-animation-iteration-count: 0;
              animation-iteration-count: 0; }
      ul:nth-child(1) li:nth-child(5) span {
        -webkit-animation-delay: 11600ms;
                animation-delay: 11600ms; }

ul:nth-child(2) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s; }
  ul:nth-child(2) li {
    -webkit-transform-origin: 0.05em 0.2em 1.005em;
        -ms-transform-origin: 0.05em 0.2em 1.005em;
            transform-origin: 0.05em 0.2em 1.005em; }
    ul:nth-child(2) li span {
      -webkit-transform-origin: 1em 0.05em 1.005em;
          -ms-transform-origin: 1em 0.05em 1.005em;
              transform-origin: 1em 0.05em 1.005em; }
    ul:nth-child(2) li:nth-child(1) {
      -webkit-animation-delay: 10000ms;
              animation-delay: 10000ms;
      -webkit-animation-iteration-count: 16;
              animation-iteration-count: 16; }
    ul:nth-child(2) li:nth-child(2) {
      -webkit-animation-delay: 10400ms;
              animation-delay: 10400ms;
      -webkit-animation-iteration-count: 12;
              animation-iteration-count: 12; }
    ul:nth-child(2) li:nth-child(3) {
      -webkit-animation-delay: 10800ms;
              animation-delay: 10800ms;
      -webkit-animation-iteration-count: 8;
              animation-iteration-count: 8; }
    ul:nth-child(2) li:nth-child(4) {
      -webkit-animation-delay: 11200ms;
              animation-delay: 11200ms;
      -webkit-animation-iteration-count: 4;
              animation-iteration-count: 4; }
    ul:nth-child(2) li:nth-child(5) {
      -webkit-animation-delay: 11600ms;
              animation-delay: 11600ms;
      -webkit-animation-iteration-count: 0;
              animation-iteration-count: 0; }

ul:nth-child(3) {
  -webkit-animation-delay: 16s;
          animation-delay: 16s; }
  ul:nth-child(3) li {
    -webkit-transform-origin: 0.075em 0.2em 1.0075em;
        -ms-transform-origin: 0.075em 0.2em 1.0075em;
            transform-origin: 0.075em 0.2em 1.0075em; }
    ul:nth-child(3) li span {
      -webkit-transform-origin: 1em 0.075em 1.0075em;
          -ms-transform-origin: 1em 0.075em 1.0075em;
              transform-origin: 1em 0.075em 1.0075em; }
    ul:nth-child(3) li:nth-child(1) {
      -webkit-animation-delay: 18000ms;
              animation-delay: 18000ms;
      -webkit-animation-iteration-count: 16;
              animation-iteration-count: 16; }
    ul:nth-child(3) li:nth-child(2) {
      -webkit-animation-delay: 18400ms;
              animation-delay: 18400ms;
      -webkit-animation-iteration-count: 12;
              animation-iteration-count: 12; }
    ul:nth-child(3) li:nth-child(3) {
      -webkit-animation-delay: 18800ms;
              animation-delay: 18800ms;
      -webkit-animation-iteration-count: 8;
              animation-iteration-count: 8; }
    ul:nth-child(3) li:nth-child(4) {
      -webkit-animation-delay: 19200ms;
              animation-delay: 19200ms;
      -webkit-animation-iteration-count: 4;
              animation-iteration-count: 4; }
    ul:nth-child(3) li:nth-child(5) {
      -webkit-animation-delay: 19600ms;
              animation-delay: 19600ms;
      -webkit-animation-iteration-count: 0;
              animation-iteration-count: 0; }

ul:nth-child(4) {
  -webkit-animation-delay: 24s;
          animation-delay: 24s; }
  ul:nth-child(4) li {
    -webkit-transform-origin: 0.1em 0.2em 1.01em;
        -ms-transform-origin: 0.1em 0.2em 1.01em;
            transform-origin: 0.1em 0.2em 1.01em; }
    ul:nth-child(4) li span {
      -webkit-transform-origin: 1em 0.1em 1.01em;
          -ms-transform-origin: 1em 0.1em 1.01em;
              transform-origin: 1em 0.1em 1.01em; }
    ul:nth-child(4) li:nth-child(1) {
      -webkit-animation-delay: 26000ms;
              animation-delay: 26000ms;
      -webkit-animation-iteration-count: 16;
              animation-iteration-count: 16; }
    ul:nth-child(4) li:nth-child(2) {
      -webkit-animation-delay: 26400ms;
              animation-delay: 26400ms;
      -webkit-animation-iteration-count: 12;
              animation-iteration-count: 12; }
    ul:nth-child(4) li:nth-child(3) {
      -webkit-animation-delay: 26800ms;
              animation-delay: 26800ms;
      -webkit-animation-iteration-count: 8;
              animation-iteration-count: 8; }
    ul:nth-child(4) li:nth-child(4) {
      -webkit-animation-delay: 27200ms;
              animation-delay: 27200ms;
      -webkit-animation-iteration-count: 4;
              animation-iteration-count: 4; }
    ul:nth-child(4) li:nth-child(5) {
      -webkit-animation-delay: 27600ms;
              animation-delay: 27600ms;
      -webkit-animation-iteration-count: 0;
              animation-iteration-count: 0; }

ul:nth-child(5) {
  -webkit-animation-delay: 32s;
          animation-delay: 32s; }
  ul:nth-child(5) li {
    -webkit-transform-origin: 0.125em 0.2em 1.0125em;
        -ms-transform-origin: 0.125em 0.2em 1.0125em;
            transform-origin: 0.125em 0.2em 1.0125em; }
    ul:nth-child(5) li span {
      -webkit-transform-origin: 1em 0.125em 1.0125em;
          -ms-transform-origin: 1em 0.125em 1.0125em;
              transform-origin: 1em 0.125em 1.0125em; }
    ul:nth-child(5) li:nth-child(1) {
      -webkit-animation-delay: 34000ms;
              animation-delay: 34000ms;
      -webkit-animation-iteration-count: 16;
              animation-iteration-count: 16; }
    ul:nth-child(5) li:nth-child(2) {
      -webkit-animation-delay: 34400ms;
              animation-delay: 34400ms;
      -webkit-animation-iteration-count: 12;
              animation-iteration-count: 12; }
    ul:nth-child(5) li:nth-child(3) {
      -webkit-animation-delay: 34800ms;
              animation-delay: 34800ms;
      -webkit-animation-iteration-count: 8;
              animation-iteration-count: 8; }
    ul:nth-child(5) li:nth-child(4) {
      -webkit-animation-delay: 35200ms;
              animation-delay: 35200ms;
      -webkit-animation-iteration-count: 4;
              animation-iteration-count: 4; }
    ul:nth-child(5) li:nth-child(5) {
      -webkit-animation-delay: 35600ms;
              animation-delay: 35600ms;
      -webkit-animation-iteration-count: 0;
              animation-iteration-count: 0; }

ul:nth-child(6) {
  -webkit-animation-delay: 40s;
          animation-delay: 40s; }
  ul:nth-child(6) li {
    -webkit-transform-origin: 0.15em 0.2em 1.015em;
        -ms-transform-origin: 0.15em 0.2em 1.015em;
            transform-origin: 0.15em 0.2em 1.015em; }
    ul:nth-child(6) li span {
      -webkit-transform-origin: 1em 0.15em 1.015em;
          -ms-transform-origin: 1em 0.15em 1.015em;
              transform-origin: 1em 0.15em 1.015em; }
    ul:nth-child(6) li:nth-child(1) {
      -webkit-animation-delay: 42000ms;
              animation-delay: 42000ms;
      -webkit-animation-iteration-count: 16;
              animation-iteration-count: 16; }
    ul:nth-child(6) li:nth-child(2) {
      -webkit-animation-delay: 42400ms;
              animation-delay: 42400ms;
      -webkit-animation-iteration-count: 12;
              animation-iteration-count: 12; }
    ul:nth-child(6) li:nth-child(3) {
      -webkit-animation-delay: 42800ms;
              animation-delay: 42800ms;
      -webkit-animation-iteration-count: 8;
              animation-iteration-count: 8; }
    ul:nth-child(6) li:nth-child(4) {
      -webkit-animation-delay: 43200ms;
              animation-delay: 43200ms;
      -webkit-animation-iteration-count: 4;
              animation-iteration-count: 4; }
    ul:nth-child(6) li:nth-child(5) {
      -webkit-animation-delay: 43600ms;
              animation-delay: 43600ms;
      -webkit-animation-iteration-count: 0;
              animation-iteration-count: 0; }

ul:nth-child(7) {
  -webkit-animation-delay: 48s;
          animation-delay: 48s; }
  ul:nth-child(7) li {
    -webkit-transform-origin: 0.175em 0.2em 1.0175em;
        -ms-transform-origin: 0.175em 0.2em 1.0175em;
            transform-origin: 0.175em 0.2em 1.0175em; }
    ul:nth-child(7) li span {
      -webkit-transform-origin: 1em 0.175em 1.0175em;
          -ms-transform-origin: 1em 0.175em 1.0175em;
              transform-origin: 1em 0.175em 1.0175em; }
    ul:nth-child(7) li:nth-child(1) {
      -webkit-animation-delay: 50000ms;
              animation-delay: 50000ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(7) li:nth-child(1) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(7) li:nth-child(2) {
      -webkit-animation-delay: 50400ms;
              animation-delay: 50400ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(7) li:nth-child(2) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(7) li:nth-child(3) {
      -webkit-animation-delay: 50800ms;
              animation-delay: 50800ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(7) li:nth-child(3) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(7) li:nth-child(4) {
      -webkit-animation-delay: 51200ms;
              animation-delay: 51200ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(7) li:nth-child(4) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(7) li:nth-child(5) {
      -webkit-animation-delay: 51600ms;
              animation-delay: 51600ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(7) li:nth-child(5) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }

ul:nth-child(8) {
  -webkit-animation-delay: 56s;
          animation-delay: 56s; }
  ul:nth-child(8) li {
    -webkit-transform-origin: 0.2em 0.2em 1.02em;
        -ms-transform-origin: 0.2em 0.2em 1.02em;
            transform-origin: 0.2em 0.2em 1.02em; }
    ul:nth-child(8) li span {
      -webkit-transform-origin: 1em 0.2em 1.02em;
          -ms-transform-origin: 1em 0.2em 1.02em;
              transform-origin: 1em 0.2em 1.02em; }
    ul:nth-child(8) li:nth-child(1) {
      -webkit-animation-delay: 50000ms;
              animation-delay: 50000ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(8) li:nth-child(1) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(8) li:nth-child(2) {
      -webkit-animation-delay: 50400ms;
              animation-delay: 50400ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(8) li:nth-child(2) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(8) li:nth-child(3) {
      -webkit-animation-delay: 50800ms;
              animation-delay: 50800ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(8) li:nth-child(3) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(8) li:nth-child(4) {
      -webkit-animation-delay: 51200ms;
              animation-delay: 51200ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(8) li:nth-child(4) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(8) li:nth-child(5) {
      -webkit-animation-delay: 51600ms;
              animation-delay: 51600ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(8) li:nth-child(5) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }

ul:nth-child(9) {
  -webkit-animation-delay: 64s;
          animation-delay: 64s; }
  ul:nth-child(9) li {
    -webkit-transform-origin: 0.225em 0.2em 1.0225em;
        -ms-transform-origin: 0.225em 0.2em 1.0225em;
            transform-origin: 0.225em 0.2em 1.0225em; }
    ul:nth-child(9) li span {
      -webkit-transform-origin: 1em 0.225em 1.0225em;
          -ms-transform-origin: 1em 0.225em 1.0225em;
              transform-origin: 1em 0.225em 1.0225em; }
    ul:nth-child(9) li:nth-child(1) {
      -webkit-animation-delay: 50000ms;
              animation-delay: 50000ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(9) li:nth-child(1) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(9) li:nth-child(2) {
      -webkit-animation-delay: 50400ms;
              animation-delay: 50400ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(9) li:nth-child(2) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(9) li:nth-child(3) {
      -webkit-animation-delay: 50800ms;
              animation-delay: 50800ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(9) li:nth-child(3) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(9) li:nth-child(4) {
      -webkit-animation-delay: 51200ms;
              animation-delay: 51200ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(9) li:nth-child(4) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(9) li:nth-child(5) {
      -webkit-animation-delay: 51600ms;
              animation-delay: 51600ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(9) li:nth-child(5) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }

ul:nth-child(10) {
  -webkit-animation-delay: 72s;
          animation-delay: 72s; }
  ul:nth-child(10) li {
    -webkit-transform-origin: 0.25em 0.2em 1.025em;
        -ms-transform-origin: 0.25em 0.2em 1.025em;
            transform-origin: 0.25em 0.2em 1.025em; }
    ul:nth-child(10) li span {
      -webkit-transform-origin: 1em 0.25em 1.025em;
          -ms-transform-origin: 1em 0.25em 1.025em;
              transform-origin: 1em 0.25em 1.025em; }
    ul:nth-child(10) li:nth-child(1) {
      -webkit-animation-delay: 50000ms;
              animation-delay: 50000ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(10) li:nth-child(1) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(10) li:nth-child(2) {
      -webkit-animation-delay: 50400ms;
              animation-delay: 50400ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(10) li:nth-child(2) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(10) li:nth-child(3) {
      -webkit-animation-delay: 50800ms;
              animation-delay: 50800ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(10) li:nth-child(3) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(10) li:nth-child(4) {
      -webkit-animation-delay: 51200ms;
              animation-delay: 51200ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(10) li:nth-child(4) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(10) li:nth-child(5) {
      -webkit-animation-delay: 51600ms;
              animation-delay: 51600ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(10) li:nth-child(5) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }

ul:nth-child(11) {
  -webkit-animation-delay: 80s;
          animation-delay: 80s; }
  ul:nth-child(11) li {
    -webkit-transform-origin: 0.275em 0.2em 1.0275em;
        -ms-transform-origin: 0.275em 0.2em 1.0275em;
            transform-origin: 0.275em 0.2em 1.0275em; }
    ul:nth-child(11) li span {
      -webkit-transform-origin: 1em 0.275em 1.0275em;
          -ms-transform-origin: 1em 0.275em 1.0275em;
              transform-origin: 1em 0.275em 1.0275em; }
    ul:nth-child(11) li:nth-child(1) {
      -webkit-animation-delay: 50000ms;
              animation-delay: 50000ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(11) li:nth-child(1) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(11) li:nth-child(2) {
      -webkit-animation-delay: 50400ms;
              animation-delay: 50400ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(11) li:nth-child(2) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(11) li:nth-child(3) {
      -webkit-animation-delay: 50800ms;
              animation-delay: 50800ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(11) li:nth-child(3) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(11) li:nth-child(4) {
      -webkit-animation-delay: 51200ms;
              animation-delay: 51200ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(11) li:nth-child(4) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(11) li:nth-child(5) {
      -webkit-animation-delay: 51600ms;
              animation-delay: 51600ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(11) li:nth-child(5) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }

ul:nth-child(12) {
  -webkit-animation-delay: 88s;
          animation-delay: 88s; }
  ul:nth-child(12) li {
    -webkit-transform-origin: 0.3em 0.2em 1.03em;
        -ms-transform-origin: 0.3em 0.2em 1.03em;
            transform-origin: 0.3em 0.2em 1.03em; }
    ul:nth-child(12) li span {
      -webkit-transform-origin: 1em 0.3em 1.03em;
          -ms-transform-origin: 1em 0.3em 1.03em;
              transform-origin: 1em 0.3em 1.03em; }
    ul:nth-child(12) li:nth-child(1) {
      -webkit-animation-delay: 50000ms;
              animation-delay: 50000ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(12) li:nth-child(1) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(12) li:nth-child(2) {
      -webkit-animation-delay: 50400ms;
              animation-delay: 50400ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(12) li:nth-child(2) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(12) li:nth-child(3) {
      -webkit-animation-delay: 50800ms;
              animation-delay: 50800ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(12) li:nth-child(3) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(12) li:nth-child(4) {
      -webkit-animation-delay: 51200ms;
              animation-delay: 51200ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(12) li:nth-child(4) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(12) li:nth-child(5) {
      -webkit-animation-delay: 51600ms;
              animation-delay: 51600ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(12) li:nth-child(5) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }

ul:nth-child(13) {
  -webkit-animation-delay: 96s;
          animation-delay: 96s; }
  ul:nth-child(13) li {
    -webkit-transform-origin: 0.325em 0.2em 1.0325em;
        -ms-transform-origin: 0.325em 0.2em 1.0325em;
            transform-origin: 0.325em 0.2em 1.0325em; }
    ul:nth-child(13) li span {
      -webkit-transform-origin: 1em 0.325em 1.0325em;
          -ms-transform-origin: 1em 0.325em 1.0325em;
              transform-origin: 1em 0.325em 1.0325em; }
    ul:nth-child(13) li:nth-child(1) {
      -webkit-animation-delay: 50000ms;
              animation-delay: 50000ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(13) li:nth-child(1) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(13) li:nth-child(2) {
      -webkit-animation-delay: 50400ms;
              animation-delay: 50400ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(13) li:nth-child(2) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(13) li:nth-child(3) {
      -webkit-animation-delay: 50800ms;
              animation-delay: 50800ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(13) li:nth-child(3) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(13) li:nth-child(4) {
      -webkit-animation-delay: 51200ms;
              animation-delay: 51200ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(13) li:nth-child(4) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(13) li:nth-child(5) {
      -webkit-animation-delay: 51600ms;
              animation-delay: 51600ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(13) li:nth-child(5) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }

ul:nth-child(14) {
  -webkit-animation-delay: 104s;
          animation-delay: 104s; }
  ul:nth-child(14) li {
    -webkit-transform-origin: 0.35em 0.2em 1.035em;
        -ms-transform-origin: 0.35em 0.2em 1.035em;
            transform-origin: 0.35em 0.2em 1.035em; }
    ul:nth-child(14) li span {
      -webkit-transform-origin: 1em 0.35em 1.035em;
          -ms-transform-origin: 1em 0.35em 1.035em;
              transform-origin: 1em 0.35em 1.035em; }
    ul:nth-child(14) li:nth-child(1) {
      -webkit-animation-delay: 50000ms;
              animation-delay: 50000ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(14) li:nth-child(1) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(14) li:nth-child(2) {
      -webkit-animation-delay: 50400ms;
              animation-delay: 50400ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(14) li:nth-child(2) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(14) li:nth-child(3) {
      -webkit-animation-delay: 50800ms;
              animation-delay: 50800ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(14) li:nth-child(3) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(14) li:nth-child(4) {
      -webkit-animation-delay: 51200ms;
              animation-delay: 51200ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(14) li:nth-child(4) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(14) li:nth-child(5) {
      -webkit-animation-delay: 51600ms;
              animation-delay: 51600ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(14) li:nth-child(5) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }

ul:nth-child(15) {
  -webkit-animation-delay: 112s;
          animation-delay: 112s; }
  ul:nth-child(15) li {
    -webkit-transform-origin: 0.375em 0.2em 1.0375em;
        -ms-transform-origin: 0.375em 0.2em 1.0375em;
            transform-origin: 0.375em 0.2em 1.0375em; }
    ul:nth-child(15) li span {
      -webkit-transform-origin: 1em 0.375em 1.0375em;
          -ms-transform-origin: 1em 0.375em 1.0375em;
              transform-origin: 1em 0.375em 1.0375em; }
    ul:nth-child(15) li:nth-child(1) {
      -webkit-animation-delay: 50000ms;
              animation-delay: 50000ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(15) li:nth-child(1) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(15) li:nth-child(2) {
      -webkit-animation-delay: 50400ms;
              animation-delay: 50400ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(15) li:nth-child(2) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(15) li:nth-child(3) {
      -webkit-animation-delay: 50800ms;
              animation-delay: 50800ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(15) li:nth-child(3) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(15) li:nth-child(4) {
      -webkit-animation-delay: 51200ms;
              animation-delay: 51200ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(15) li:nth-child(4) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(15) li:nth-child(5) {
      -webkit-animation-delay: 51600ms;
              animation-delay: 51600ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(15) li:nth-child(5) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }

ul:nth-child(16) {
  -webkit-animation-delay: 120s;
          animation-delay: 120s; }
  ul:nth-child(16) li {
    -webkit-transform-origin: 0.4em 0.2em 1.04em;
        -ms-transform-origin: 0.4em 0.2em 1.04em;
            transform-origin: 0.4em 0.2em 1.04em; }
    ul:nth-child(16) li span {
      -webkit-transform-origin: 1em 0.4em 1.04em;
          -ms-transform-origin: 1em 0.4em 1.04em;
              transform-origin: 1em 0.4em 1.04em; }
    ul:nth-child(16) li:nth-child(1) {
      -webkit-animation-delay: 50000ms;
              animation-delay: 50000ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(16) li:nth-child(1) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(16) li:nth-child(2) {
      -webkit-animation-delay: 50400ms;
              animation-delay: 50400ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(16) li:nth-child(2) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(16) li:nth-child(3) {
      -webkit-animation-delay: 50800ms;
              animation-delay: 50800ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(16) li:nth-child(3) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(16) li:nth-child(4) {
      -webkit-animation-delay: 51200ms;
              animation-delay: 51200ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(16) li:nth-child(4) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(16) li:nth-child(5) {
      -webkit-animation-delay: 51600ms;
              animation-delay: 51600ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(16) li:nth-child(5) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }

ul:nth-child(17) {
  -webkit-animation-delay: 128s;
          animation-delay: 128s; }
  ul:nth-child(17) li {
    -webkit-transform-origin: 0.425em 0.2em 1.0425em;
        -ms-transform-origin: 0.425em 0.2em 1.0425em;
            transform-origin: 0.425em 0.2em 1.0425em; }
    ul:nth-child(17) li span {
      -webkit-transform-origin: 1em 0.425em 1.0425em;
          -ms-transform-origin: 1em 0.425em 1.0425em;
              transform-origin: 1em 0.425em 1.0425em; }
    ul:nth-child(17) li:nth-child(1) {
      -webkit-animation-delay: 50000ms;
              animation-delay: 50000ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(17) li:nth-child(1) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(17) li:nth-child(2) {
      -webkit-animation-delay: 50400ms;
              animation-delay: 50400ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(17) li:nth-child(2) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(17) li:nth-child(3) {
      -webkit-animation-delay: 50800ms;
              animation-delay: 50800ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(17) li:nth-child(3) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(17) li:nth-child(4) {
      -webkit-animation-delay: 51200ms;
              animation-delay: 51200ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(17) li:nth-child(4) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }
    ul:nth-child(17) li:nth-child(5) {
      -webkit-animation-delay: 51600ms;
              animation-delay: 51600ms;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
      ul:nth-child(17) li:nth-child(5) span {
        -webkit-animation-delay: 48000ms;
                animation-delay: 48000ms; }

@-webkit-keyframes rotating-as {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }

  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg); } }

@-webkit-keyframes rotating-as-d {
  from {
    -webkit-transform: rotateX(0deg) rotateX(0deg) translateZ(0em);
            transform: rotateX(0deg) rotateX(0deg) translateZ(0em); }

  to {
    -webkit-transform: rotateX(360deg) rotateX(360deg) translateZ(-0.5em);
            transform: rotateX(360deg) rotateX(360deg) translateZ(-0.5em); } }

@-webkit-keyframes rotating-as-f {
  from {
    -webkit-transform: rotateX(0deg) rotateZ(0deg) translateY(0.5em) translateX(-0.13em);
            transform: rotateX(0deg) rotateZ(0deg) translateY(0.5em) translateX(-0.13em); }

  to {
    -webkit-transform: rotateX(360deg) rotateZ(360deg) translateY(-0.5em) translateX(0.15em);
            transform: rotateX(360deg) rotateZ(360deg) translateY(-0.5em) translateX(0.15em); } }

@-webkit-keyframes rotating-df {
  from {
    -webkit-transform: rotateX(0deg) rotateZ(0deg) translateX(1.5em);
            transform: rotateX(0deg) rotateZ(0deg) translateX(1.5em); }

  to {
    -webkit-transform: rotateX(360deg) rotateZ(360deg) translateX(-1.5em);
            transform: rotateX(360deg) rotateZ(360deg) translateX(-1.5em); } }

@-webkit-keyframes rotating-df-d {
  from {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateX(-0.23em);
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateX(-0.23em); }

  to {
    -webkit-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg) translateX(0.25em);
            transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg) translateX(0.25em); } }

@-webkit-keyframes rotating-df-d {
  from {
    -webkit-transform: rotateX(0deg) translateX(-0.23em);
            transform: rotateX(0deg) translateX(-0.23em); }

  to {
    -webkit-transform: rotateX(360deg) translateX(0.25em);
            transform: rotateX(360deg) translateX(0.25em); } }

@-webkit-keyframes scrolling {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }

  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

.a {
  opacity: 1; }

.s {
  opacity: 0.67; }

.d {
  opacity: 0.33; }

.f {
  opacity: 0.1; }

.a.df {
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4; }

.s.df {
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3; }

.d.df {
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2; }

.f.df {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.a span {
  -webkit-animation: rotating-as-d 1s linear 100ms infinite alternate;
          animation: rotating-as-d 1s linear 100ms infinite alternate; }

.s span {
  -webkit-animation: rotating-as-d 1s linear 100ms infinite alternate;
          animation: rotating-as-d 1s linear 100ms infinite alternate; }

.d span {
  -webkit-animation: rotating-as-f 1s linear 100ms infinite alternate;
          animation: rotating-as-f 1s linear 100ms infinite alternate; }

.f span {
  -webkit-animation: rotating-as-f 1s linear 100ms infinite alternate;
          animation: rotating-as-f 1s linear 100ms infinite alternate; }

.a.as.asdf li {
  -webkit-animation-name: rotating-as;
          animation-name: rotating-as; }

.s.as.asdf li {
  -webkit-animation-name: rotating-as;
          animation-name: rotating-as; }

.d.as.asdf li {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: rotating-as-d;
          animation-name: rotating-as-d; }

.f.as.asdf li {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: rotating-as-f;
          animation-name: rotating-as-f; }

.a.df.asdf li {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: rotating-df;
          animation-name: rotating-df; }

.s.df.asdf li {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: rotating-df;
          animation-name: rotating-df; }

.d.df.asdf li {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: rotating-df-d;
          animation-name: rotating-df-d; }

.f.df.asdf li {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: rotating-df-f;
          animation-name: rotating-df-f; }
